
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Filter:</mat-label>
                  <mat-select [(value)]="selectedType" (selectionChange)="filterData()">
                    <mat-option value="All">All</mat-option>
                    <mat-option *ngFor="let type of getCategoryValues()" [value]="type">{{ type }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            <!-- Your Angular component template -->
            <div class="card-container">
                <div  *ngFor="let course of filteredData" class="card">
                    <div class="card-header">
                        <h3>{{ course.courseName }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="image-container">
                                <img src="../../../assets/lib icon.png" alt="{{ course.courseName }}"
                                    class="course-image">
                            </div>
                            <div class="course-details">
                                <p><strong>Course ID:</strong> {{ course.courseId }}</p>
                                <p><strong>Author:</strong> {{ course.author }}</p>
                                <p><strong>Duration:</strong> {{ course.duration }}</p>
                                <p><strong>Price:</strong> {{ course.price }}</p>
                            </div>
                        </div>
                        <p><strong>Available Slots:</strong> {{ course.availableSlots }}</p>
                        <p><strong>Description:</strong> {{ course.description }}</p>
                        <p><strong>Rating:</strong> {{ course.rating }}</p>
                        <p><strong>Category:</strong> {{ course.type }}</p>
                    </div>
                    <div class="card-actions ">
                        <button *ngIf="!isInCart(course)" (click)="onAddCart(course)" class="btn btn-secondary">
                            Add to Cart
                        </button>
                        <button *ngIf="isInCart(course)" (click)="goToCart()" class="btn btn-secondary">
                            Go to Cart
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>