/* Custom styles for the card layout */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 380px; /* Increased width */
  height: 470px; /* Set a specific height for the card */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #a3c4e7;
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.card-body {
  padding: 1px;
}

.card-content {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.course-image {
  width: 100%;
  height: auto;
  max-height: 200px; /* Set a maximum height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.course-details {
  flex: 1;
}

.card-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
