<!-- about.component.html -->
<!-- <app-admin-nav-bar></app-admin-nav-bar> -->
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <mat-card>
          <img mat-card-image src="../../../../assets/Digital-learning-platform_Featured-Images.jpg" alt="About Us Image">
        </mat-card>
      </div>
      <div class="col-md-6 text-black">
        <h2 class="mb-3">About Us</h2>
        <mat-card>
          <mat-card-content>
            <p>
              Welcome to our learning platform! We are dedicated to providing high-quality courses to help you
              enhance your skills and achieve your learning goals. Our platform offers a wide range of courses
              on various topics, from programming and technology to business and creativity.
            </p>
            <p>
              Our team of experienced instructors is committed to delivering engaging and informative content
              to support your learning journey. Whether you are a beginner or an experienced professional,
              there's something for everyone on our platform.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  