<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter(($event))" placeholder="Search Here...">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
  
    <!-- User ID Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.birthDate | date:'longDate'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="length">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.courses.length}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="courses">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a [routerLink]="['../showAll']" class="btn btn-primary" [queryParams]="{ userId: row.userId }">ShowCourses</a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
