<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./nav-bar.component.css">
  <title>Your Page Title</title>
</head>
<body>
<div class="container-fluid  ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['./home']">Learning Platform</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav ">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['./home']"><mat-icon>home</mat-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./userCourses']">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./library']">Library</a>
        </li>
      </ul>
    </div>

    <div class="d-flex">
      <a class="nav-link" [routerLink]="['./cart']">
        <!-- <img src="../../assets/lib icon.png" alt="Library Icon" class="library-icon"  > -->
        <mat-icon matBadge="{{ cartItemCount }}" matBadgeColor="accent" matBadgeSize="small">
          <img src="../../assets/lib icon.png" alt="Library Icon" class="library-icon">
        </mat-icon>
      </a>
    </div>
    <div class="d-flex" style="margin-left: 20px"><button class="btn btn-outline-light my-2 my-sm-0" type="button"
        (click)="OnLogout()">Logout</button></div>
  </nav>

  <div class="container page-container">
    <div class="row mt-4">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
</body>
